<br>
<nav>
        {% for item in site.data.navigation %}
            <a href="{{ item.link }}" 
               {% if page.url == item.link %}class="current"
                {% else %} class="nav-item" {% endif %}
                {% if item.name == "Resume" %} target="_blank"
                {% endif %}>
                {{ item.name }}</a>
        {% endfor %}
</nav>