@font-face {
  font-family: 'Boldini';
  src: url("/assets/fonts/Boldini-Regular.ttf");
  font-style: normal;
  font-weight: 50;
}

@font-face {
  font-family: Titillium;
  src: url("/assets/fonts/TitilliumWeb-Light.ttf");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: Titillium-Bold;
  src: url("/assets/fonts/TitilliumWeb-Bold.ttf");
  font-style: normal;
  font-weight: 100;
}


.current {
  font-size: x-large;
  color: #F4830F;
}

.current:not(:last-child) {
  margin-right: 25px;
}

.current:hover {
  text-decoration: none;
}

nav {
  font-family: Boldini;
}

figure {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}

.hover10 figure img {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover10 figure:hover img {
  opacity: 0.5;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.overlay-container {
  position: relative;
}
.overlay-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  text-decoration: black;
}

.overlay-text {
  color: #007bff;
  //color: #F4830F;
  font-family: Boldini;
  font-size: x-large;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

//.row > div {
//  margin-top:10px;
//  padding: 20px;
//  outline: 2px solid #ccc;
//  outline-offset: -10px;
//  -moz-outline-radius: 10px;
//  -webkit-outline-radius: 10px;
//}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}