---
---

@import "main";

h2 {
  font-family: Boldini;
  font-weight: 50;
  color: #F4830F;
  font-size: x-large;
}

h3 {
  font-family: Boldini;
  font-weight: 50;
  color: black;
  font-size: large;
}

p {
  font-family: Titillium;
  font-weight: 100;
  font-size: large;
}

body {
  min-height: 100vh;
}


.nav-item {
  font-size: larger;
  margin-right: 25px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item:hover {
  text-decoration: none;
}

.bio {
  width: 500px;
}

.header-name {
  color: black;
}

.header-name:hover {
  text-decoration: none;
}