---
---

@import "main";

h1 {
  font-family: Boldini;
  font-weight: 100;
  color: #F4830F;
  font-size: x-large;
}

h2 {
  font-family: Boldini;
  font-weight: 20;
  color: #F4830F;
  font-size: larger;
}

h3 {
  font-family: Boldini;
  font-weight: 50;
  color: black;
  font-size: large;
}

h4 {
  font-family: Titillium-Bold;
  font-weight: 100;
  color: black;
  font-size: larger;
}

p {
  font-family: Titillium;
  font-weight: 100;
  font-size: large;
}

ul {
  font-family: Titillium;
  font-weight: 100;
  font-size: large;
}

.main {
  margin-top: 6%;
}

.main__title {
    margin-bottom: 2em;
}

.nav-item {
  font-size: larger;
  margin-right: 25px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item:hover {
  text-decoration: none;
}

.bio {
  text-align: left;
  width: 500px;
}

.header-name {
  color: black;
}

.header-name:hover {
  text-decoration: none;
}

.left-align {
  text-align: left;
}

a:hover { text-decoration: none;}

